/**
 * Helpers class
 */


// Text
// ------------------------------------------------
.text-center{
	text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

// Tables helpers
// ------------------------------------------------
.table-responsive{
	overflow-x: auto;
	table{
		border-collapse: collapse;
	}
}


// Others
// ------------------------------------------------

// disable scroll to body
.disable-scroll{
	overflow: hidden;
	@include maxw(sm){
		position: fixed;
		left: 0;
		right: 0;
	}
}

// Responsive helpers
// ------------------------------------------------
@include maxw(sm){
	.text-center-sm{
		text-align: center;
	}
}
@include maxw(xs){
	.text-center-xs{
		text-align: center;
	}
}

.hidden-xs{
	display: none;
	@include minw(xs){
		display: block;
	}
}

.visible-xs{
	display: block;
	@include minw(xs){
		display: none;
	}
}

.visible-inline-xs{
	display: inline-block;;
	@include minw(xs){
		display: none;
	}
}