// ==== Config ==== //

// Set all your configuration variables here!
// ------------------------------------------------
$name: "MilligramCore";
$uri: "https://github.com/kenyk7/MilligramCore";
$author: "Keny Romero";
$author-uri: "http://github.com/kenyk7";
$description: "Minimal css frontend framework scalable and extensible based milligram and use grid core.css";
$version: "0.2.0";
$release: "production";


// Define colors
// ------------------------------------------------

$brand-primary: #303F9F !default;
$brand-second: #606c76 !default;


// Background body and text color
// ------------------------------------------------
$body-bg: #fff !default;
$color-text: #606c76 !default;

$color-initial: #fff !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;


// Fonts
// ------------------------------------------------
$font-size-base: 1.6em !default;
$font-weight-body: 300 !default;
$font-family:  'Roboto', sans-serif !default;
$headings-font-weight: 300 !default;


// For hover or active darken
// ------------------------------------------------
$amount: 10% !default;


// Radius
// ------------------------------------------------
$border-radius-base: 0.3em !default;


// Media queries vars
// ------------------------------------------------

$mq-xs: 32rem !default; /* 512px (Extra-Small) */

$mq-sm: 48rem !default; /* 768px (Small) */

$mq-md: 64rem !default; /* 1024px (Medium) */

$mq-lg: 80rem !default; /* 1280px (Large) */

$mq-xl: 96rem !default; /* 1536px (Extra-Large) */


// Max width conainer default use default $mq-lg
// ------------------------------------------------
$with-container: $mq-lg !default;


// Buttons array generate
// ------------------------------------------------

// Add or modify buttons array
$buttons: (
  second: #606c76,
  black: black
) !default;
